/* media query */



@media all and (max-width:1199px) {
  .nav-bar {
    display: none;
  }

  .container {
    width: 95%;
  }
  .ham {
    display: block;
  }

  .dropdown {
    display: none;
  }

  .ham:hover .dropdown {
    display: block;
    position: absolute;
    right: 0;
    top:65px;
    width: 20%;
    border: solid 1px #000;
    background: white;
  }

  .dropdown:hover{
    display: block;
  }
}
